<!DOCTYPE html>
<html lang="en">

<head>
    <title>myapp</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<style>
    html,
    body {
        height: 100%;
    }
</style>

<body class="bg-dark">
    <div class="row h-100 align-items-center">
        <div style="margin-left: 273px;margin-top: 33px;padding: 54px;"class="bg-success col md-6 offset-md-3">
             {{{body}}}
        </div>
    </div>

</body>

</html>